.shop-cart {
    padding: 0 20px;

    td.buttons {
        width: 100px;
        text-align: center;

        button,
        span {
            display: inline-block;
            width: 30px;
        }
    }

    table {
        /* border: 2px solid rgb(140 140 140); */
        font-size: 0.8rem;
        max-width: 700px;
        border-collapse: collapse;
    }

    thead,
    tfoot {
        background-color: rgb(228 240 245);
    }

    th,
    td {
        /* border: 1px solid rgb(160 160 160); */
        padding: 8px 10px;
    }

    td:last-of-type {
        text-align: center;
    }

    tbody>tr:nth-of-type(even) {
        background-color: rgb(237 238 242);
    }

    tfoot th {
        text-align: right;
    }

    tfoot td {
        font-weight: bold;
    }
}