.admin-nav-menu {
    background-color: aliceblue;
    display: flex;
    gap: 20px;
    border: 1px solid red;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;

    li {
        list-style: none;
        padding: 10px;
    }
}