.admin-view-product-list {
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        padding: 10px;
        border: 1px solid green;
        margin: 5px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    img {
        max-width: 100px;
        max-height: 100px;
    }

    p {
        margin: 0;
        font-size: 12px;
    }
}