@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html {
    min-width: 320px;
}

body {
    font-family: 'Kanit', sans-serif;
    color: #333;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.p-10 {
    padding: 0 10px;
}