@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html {
    min-width: 320px;
}

body {
    font-family: 'Kanit', sans-serif;
    color: #333;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.auth-form {
    max-width: 400px;
    &>div {
        display: flex;
        flex-direction: column;
        margin: 20px;

        button {
            padding: 10px;

            &:hover {
                background-color: #0056b3;
                color: white;
            }
        }

        input {
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;}
    }
}

.p-10 {
    padding: 0 10px;
}